<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio | concesionario</title>
    <link rel="stylesheet" href="/templates/css/style.css"> <!-- o {% static ... %} lo usas con  Django -->
</head>
<body>

    <header>
        <h1>CONCENSIONARIO NILU S.A.S</h1>
    </header>

    <nav>
        <a href="/templates/cliente/lista.html">Clientes</a>
        <a href="/templates/empleado/lista.html">Empleados</a>
        <a href="/templates/motos/lista_motos.html">Motos</a>
        <a href="/templates/proveedores/lista.html">Proveedores</a>
        <a href="/templates/venta/lista.html">Ventas</a>
    </nav>
<img src="/templates/img/Captura de pantalla 2025-05-25 153931.png" alt="Descripción" style="max-width: 100%; height: auto;">
<img src="/templates/img/Captura de pantalla 2025-05-22 204600.png" alt="Descripción" style="max-width: 100%; height: auto;">

    <footer>
        <p> 2025 Proyecto de Motos. Todos los derechos reservados. Nicolas Espitia - Luna Delgado</p>
    </footer>

</body>
</html>
