<h1>Lista de Proveedores</h1>
<a href="{% url 'crear_proveedor' %}">Nuevo Proveedor</a>
<table border="1">
    <tr>
        <th>Empresa</th>
        <th>Contacto</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Acciones</th>
    </tr>
    {% for proveedor in proveedores %}
    <tr>
        <td>{{ proveedor.nombre_empresa }}</td>
        <td>{{ proveedor.contacto }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>{{ proveedor.correo }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td>
            <a href="{% url 'editar_proveedor' proveedor.id %}">Editar</a> |
            <a href="{% url 'eliminar_proveedor' proveedor.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
